.cars {
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    width: 50%;
    align-content: center;
    justify-content: center;
  }
  .cars th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  .cars tr:nth-child(even){background-color: #F2F2F2;}
  .cars tr:hover {background-color: #ddd;}
  .cars th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #49c410;
    color: white;
  }